@model Area
@{
    ViewData["Title"] = "Area Details";
}

<br/>
<h1>AREA DETAILS</h1>
<br/>
@if (Model.Id == 0)
{
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
}
else
{
    <a asp-action="Details" asp-controller="House" asp-route-id="@Model.HouseId">Back to House</a>
}
<hr/>

@if (Model.Id == 0)
{
    <h5 class="text-center">Not available</h5>
}
else
{
    <div class="row border-bottom text-center p-3">
        <div class="col-4">
            <h5>@Html.DisplayNameFor(model => model.Id)</h5>
            <h3><strong>@Html.DisplayFor(model => model.Id)</strong></h3>
        </div>
        <div class="col-4">
            <h5>@Html.DisplayNameFor(model => model.Name)</h5>
            <h3><strong>@Html.DisplayFor(model => model.Name)</strong></h3>
        </div>
        <div class="col-4">
            <h5>@Html.DisplayNameFor(model => model.House)</h5>
            <h3><strong>@Html.DisplayFor(model => model.House.Name)</strong></h3>
        </div>
    </div>

    <br/>
    <h5>DEVICE COUNT: @Model.Devices.Count</h5>

    <div id="devices">
        <div class="row card-deck">
            @foreach (var device in Model.Devices)
            {
                var timeDiff = DateTime.UtcNow - device.LastModified;
                var timeDiffString = "";
                if (timeDiff.Days > 1) timeDiffString = timeDiff.Days + " days";
                else if (timeDiff.Hours > 1) timeDiffString = timeDiff.Hours + " hours";
                else if (timeDiff.Minutes > 1) timeDiffString = timeDiff.Minutes + " minutes";
                else timeDiffString = timeDiff.Seconds + "seconds";

                <div class="col-4 my-3">
                    <div class="card">
                        <img src="~/img/device.webp" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">[@device.Id] @device.Name</h5>
                            <hr/>
                            <p class="card-text">Device Type: @device.DeviceType.Name</p>
                            <p class="card-text"><small class="text-muted">Last updated @timeDiffString ago</small></p>
                            <a class="btn btn-outline-primary" asp-action="Details" asp-controller="Device" asp-route-id="@device.Id">View details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}