@model House
@{
    ViewData["Title"] = "House Details";
}

<br/>
<h1>HOUSE DETAILS</h1>
<br/>
    <a asp-action="Index">Back to House List</a>
<hr/>

@if (Model.Id == 0)
{
    <h5 class="text-center">Not available</h5>
}
else
{
    <div class="row border-bottom text-center p-3">
        <div class="col-4">
            <h5>@Html.DisplayNameFor(model => model.Id)</h5>
            <h3><strong>@Html.DisplayFor(model => model.Id)</strong></h3>
        </div>
        <div class="col-4">
            <h5>@Html.DisplayNameFor(model => model.Name)</h5>
            <h3><strong>@Html.DisplayFor(model => model.Name)</strong></h3>
        </div>
        <div class="col-4">
            <h5>@Html.DisplayNameFor(model => model.HouseType)</h5>
            <h3><strong>@Html.DisplayFor(model => model.HouseType.Name)</strong></h3>
        </div>
    </div>


    <br/>
    <ul class="list-inline">
        <li class="list-inline-item">
            <h5>ROOM COUNT: @Model.Areas.Count | </h5>
        </li>
        <li class="list-inline-item">
            <h5>
                <a class="" data-toggle="collapse" href="#rooms" role="button" aria-expanded="false" aria-controls="collapseExample">
                    VIEW ALL
                </a>
            </h5>
        </li>
    </ul>

    <div id="rooms" class="border-bottom collapse">
        <div class="row card-deck">
            @foreach (var area in Model.Areas)
            {
                var timeDiff = DateTime.UtcNow - area.LastModified;
                var timeDiffString = "";
                if (timeDiff.Days > 1) timeDiffString = timeDiff.Days + " days";
                else if (timeDiff.Hours > 1) timeDiffString = timeDiff.Hours + " hours";
                else if (timeDiff.Minutes > 1) timeDiffString = timeDiff.Minutes + " minutes";
                else timeDiffString = timeDiff.Seconds + "seconds";

                <div class="col-4 my-3">
                    <div class="card">
                        <img src="~/img/room.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">[@area.Id] @area.Name</h5>
                            <hr/>
                            <p class="card-text">Device count: @area.Devices.Count</p>
                            <p class="card-text"><small class="text-muted">Last updated @timeDiffString ago</small></p>
                            <a class="btn btn-outline-primary" asp-action="Details" asp-controller="Area" asp-route-id="@area.Id">View details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <br/>
    <br/>
    <ul class="list-inline">
        <li class="list-inline-item">
            <h5>DEVICE COUNT: @Model.Devices.Count | </h5>
        </li>
        <li class="list-inline-item">
            <h5>
                <a class="" data-toggle="collapse" href="#devices" role="button" aria-expanded="false" aria-controls="collapseExample">
                    VIEW ALL
                </a>
            </h5>
        </li>
    </ul>

    <div id="devices" class="collapse">
        <div class="row card-deck">
            @foreach (var device in Model.Devices)
            {
                var timeDiff = DateTime.UtcNow - device.LastModified;
                var timeDiffString = "";
                if (timeDiff.Days > 1) timeDiffString = timeDiff.Days + " days";
                else if (timeDiff.Hours > 1) timeDiffString = timeDiff.Hours + " hours";
                else if (timeDiff.Minutes > 1) timeDiffString = timeDiff.Minutes + " minutes";
                else timeDiffString = timeDiff.Seconds + "seconds";

                <div class="col-4 my-3">
                    <div class="card">
                        <img src="~/img/device.webp" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">[@device.Id] @device.Name</h5>
                            <hr/>
                            <p class="card-text">Device Type: @device.DeviceType.Name</p>
                            <p class="card-text">Status: @(device.IsActive ? "ON" : "OFF")</p>
                            <p class="card-text"><small class="text-muted">Last updated @timeDiffString ago</small></p>
                            <a class="btn btn-outline-primary" asp-action="Details" asp-controller="Device" asp-route-id="@device.Id">View details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}